{% extends "base.html" %}


{% block title %}
Home
{% endblock title %}


{% block style %}
{% include "home.css" %}
{% endblock style %}


{% block content %}

<section class="main-content">
    <div class="intro">
        <span id="intro-hello">Hello everybody</span>
        <span id="intro-wellcome">Wellcome to our Remote Desktop Application</span>
    </div>
    <div class="choose-role">
        <span id="lable-role">Choose the role which you want:</span>
        <div class="btn">
            <button onclick="location.href='{% url 'server' %}'">server</button>
            <button onclick="location.href='{% url 'client' %}'">client</button>
        </div>
    </div>
</section>

{% endblock content %}