* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main_box {
    position: relative;
}

.client {
    box-sizing: border-box;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 4rem);
    min-height: calc(100% - 4rem);
    margin: 2rem;
}

.header-client {
    width: 100%;
    text-align: center;
    border-bottom: 2px groove rgb(249, 249, 249);
    padding: 1rem 0;
}

.box-user {
    width: 100%;
    box-sizing: border-box;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px groove rgb(249, 249, 249);
}

.features>* {
    cursor: pointer;
    padding: 1rem 0.5rem;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    margin: 0.5rem 1rem;
    font-family: sans-serif;
}
.features>*:hover {
    background-color: pink;
    color: #fff;
}
.features > .active {
    background-color: pink;
}


.input-user > * {
    display: none;
}
.input-user > .choose {
    display: block;
}

.input-user .sdlg {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.klg {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.klg {
    margin-top: 2rem;
}
.klg > p {
    margin-top: 1rem;
}

.opt {
    padding: 2rem 0;
}

.opt > .using {
    background-color: rgb(222, 132, 183);
}

.opt > * {
    background-color: bisque;
    padding: 0.3rem 1rem;
    margin: 0 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.opt > *:hover {
    background-color: rgb(222, 132, 183);
    color: #fff;

}

.sdlg > p {
    margin-top: 1rem;
}


.send-request > *{
    display: none;
}
.send-request {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


.send-request > .select {
    display: block;
}
.send-request > .select > a{
    padding: 0.8rem 0.7rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(205, 104, 10);
    text-decoration: none;
    color: rgb(205, 104, 10);
}

.send-request > .select > a:hover{
    background-color: rgb(205, 104, 10);
    color: #fff; 

}

.show-result > *{
    display: none;
}
.show-result > .show {
    display: block;
}

img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.hide-image {
    display: none;
}

