{% extends 'server/base.html' %}
{% load static %}

{% block title %}Client{% endblock title %}


{% block style %}
<link rel="stylesheet" href="{% static "server\styles\client.css" %}">
{% endblock style %}


{% block content %}

{% load static %}

<div class="main_box">

<section class="client">
    <header class="header-client">
        <span id="intro-header">The control center</span>
    </header>
    <div class="box-user">
        <div class="features">
            <span id="webcam" class="active">Webcam capture</span>
            <span id="screenshot">Screen capture</span>
            <span id="shutdown">Shutdown/Restart</span>
            <span id="app">App/Process</span>
            <span id="key">Key logger</span>
        </div>
        
        <div class="input-user">
            <div class="webcam choose"></div>
            <div class="screenshot"></div>
            <div class="shutdown">
                <div class="sdlg">
                    <div class="opt">
                        <span id="sd" class="using">Shutdown</span>
                        <span id="lg">Logout</span>
                    </div>
                    <div class="setTime">
                    <label for="timeDown">Set time:</label>
                    <input id="pi_input" type="range" min="0" max="60" step="1" value="10"/>
                    </div>
                    <p>Time:<output id="value"></output>s</p>
                </div>
            </div>
            <div class="app">
                <div class="main-app">
                    <header>
                        <form action="" id="search-app">
                            <label for="search-name-app">Search:</label>
                            <input type="text" name="" id="search-name-app" placeholder="The name of app or process...">
                        </form>
                        <div id="add-app-container">

                            <form action="" id="add-app">
                                <label for="open-new-app-process">Open:</label>
                                <input type="text" name="" id="open-new-app-process" placeholder="E.g: Messenger...">
                                <a href="#">Send email</a>
                            </form>
                        </div>
                    </header>
                    <div id="app-list">
                        <h1 id="title-list-apps">List application:</h1>
                        <button><a id="get-data-list-apps" href="mailto:nguyennam002004@gmail.com?subject=Application%2FProcess&body=List%20Application">Get data (send email)</a></button>
                        <table id="list-apps"></table>
                        <h1 id="title-list-processes">List process:</h1>
                        <button><a id="get-data-list-processes" href="mailto:nguyennam002004@gmail.com?subject=Application%2FProcess&body=List%20Process">Get data (send email)</a></button>
                        <table id="list-processes"></table>                            
                    </div>
                </div>
            </div>
            <div class="key-logger">
                <div class="klg" style="margin-bottom: 2rem;">
                    <div class="setTime">
                        <label for="settime">Set time:</label>
                        <input id="pi_inputkl" type="range" min="1" max="60" step="1" value="10"/>
                    </div>
                    <p>Time:<output id="valuekl"></output>s</p>
                </div>
            </div>
        </div>
        <div class="show-result">
            <div class="webcam show">
                <img id ="webcam-image" src="{% static "server\images\Webcam_image.png" %}" onerror="this.classList.add('hide-image');" alt="webcam_image" >
            </div>
            <div class="screenshot">
                <img id="screenshot-image" src="{% static "server\images\Screenshot.png" %}" onerror="this.classList.add('hide-image');" alt="screenshot_image">
            </div>
            <div class="shutdown"></div>
            <div class="app"></div>
            <div class="key-logger">
                <span id="show-key-logger"></span>
            </div>
        </div>
    </div>
    <div class="send-request">
        <div class="webcam select"><a href="mailto:nguyennam002004@gmail.com?subject=Webcam%20capture&body=blank">Send Email</a></div>
        <div class="screenshot"><a href="mailto:nguyennam002004@gmail.com?subject=Screen%20capture&body=blank">Send Email</a></div>
        <div class="shutdown"><a id="sd_lg" href="mailto:nguyennam002004@gmail.com?subject=Shutdown%2FLogout&body=Shutdown[10]">Send Email</a></div>
        <div class="app"><a href="mailto:nguyennam002004@gmail.com?subject=Application%2FProcess&body=List%20Application">Send Email</a></div>
        <div class="key-logger"><a id="klMail" href="mailto:nguyennam002004@gmail.com?subject=Key%20logger&body=Time%5B10%5D">Send Email</a></div>
    </div>

</section>
</div>

{% endblock content %}