{% extends 'server/base.html' %}
{% load static %}

{% block title %}Client{% endblock title %}


{% block style %}
<link rel="stylesheet" href="{% static "server\styles\client.css" %}">
{% endblock style %}


{% block content %}

{% load static %}

<div class="main_box">

<section class="client">
    <header class="header-client">
        <span id="intro-connect">Your remote desktop id: </span>
        <span id="desktop-id">id</span>
    </header>
    <div class="box-user">
        <div class="features">
            <span id="webcam" class="active">Webcam capture</span>
            <span id="screenshot">Screen capture</span>
            <span id="shutdown">Shutdown/Restart</span>
            <span id="app">App/Process</span>
            <span id="key">Key logger</span>
        </div>
        
        <div class="input-user">
            <div class="webcam choose"></div>
            <div class="screenshot"></div>
            <div class="shutdown">
                <div class="sdlg">
                    <div class="opt">
                        <span id="sd" class="using">Shutdown</span>
                        <span id="lg">Logout</span>
                    </div>
                    <div class="setTime">
                    <label for="timeDown">Set time:</label>
                    <input id="pi_input" type="range" min="0" max="60" step="1" value="10"/>
                    </div>
                    <p>Time:<output id="value"></output>s</p>
                </div>
            </div>
            <div class="app">
                <div class="main-app">
                    <header>
                        <form action="" id="search-app">
                            <input type="text" name="" id="" placeholder="Search application/process...">
                        </form>
                    </header>
                    <div id="app-list">
                        <h1 class="title">List application and process:</h1>
                        <ul>    
                            <li>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/96px-Google_Chrome_icon_%28February_2022%29.svg.png" alt="" class="app-image">
                                <span class="name">Chrome</span>
                                <span class="real-name">chrome</span>
                                <span class="delete">delete</span>
                            </li>
                            <li>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/768px-Visual_Studio_Code_1.35_icon.svg.png" alt="" class="app-image">
                                <span class="name">Visual Studio Code</span>
                                <span class="real-name">vscode</span>
                                <span class="delete">delete</span>
                            </li>
                            <li>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/.docx_icon.svg/768px-.docx_icon.svg.png" alt="" class="app-image">
                                <span class="name">Word</span>
                                <span class="real-name">winword</span>
                                <span class="delete">delete</span>
                            </li>
                        </ul>
                    </div>
                    <form action="" id="add-app">
                        <label for="name">Enter name:</label>
                        <input type="text" name="" id="name" placeholder="Visual Studio Code...">
                        <label for="real_name">Enter real name:</label>
                        <input type="text" name="" id="real-name" placeholder="vscode...">
                        <button>Add</button>
                    </form>
                </div>
            </div>
            <div class="key-logger">
                <div class="klg">
                    <div class="setTime">
                        <label for="settime">Set time:</label>
                        <input id="pi_inputkl" type="range" min="1" max="60" step="1" value="10"/>
                    </div>
                    <p>Time:<output id="valuekl"></output>s</p>
                </div>
            </div>
        </div>
        <div class="show-result">
            <div class="webcam show">
                <img src="{% static "server\images\Webcam_image.png"%}" onerror="this.classList.add('hide-image');" alt="webcam_image" >
            </div>
            <div class="screenshot">
                <img src="{% static "server\images\Screenshot.png" %}" onerror="this.classList.add('hide-image');" alt="screenshot_image">
            </div>
            <div class="shutdown"></div>
            <div class="app"></div>
            <div class="key-logger">
                <button id="refresh-data">Refresh data</button>
                <span id="show-key-logger"></span>
            </div>
        </div>
    </div>
    <div class="send-request">
        <div class="webcam select"><a href="mailto:nguyennam002004@gmail.com?subject=Webcam%20capture&body=blank">Send Email</a></div>
        <div class="screenshot"><a href="mailto:nguyennam002004@gmail.com?subject=Screen%20capture&body=blank">Send Email</a></div>
        <div class="shutdown"><a id="sd_lg" href="mailto:nguyennam002004@gmail.com?subject=Shutdown%2FLogout&body=Shutdown[10]">Send Email</a></div>
        <div class="app"><a href="mailto:nguyennam002004@gmail.com?subject=Application%2FProcess&body=blank">Send Email</a></div>
        <div class="key-logger"><a id="klMail" href="mailto:nguyennam002004@gmail.com?subject=Key%20logger&body=Time%5B10%5D">Send Email</a></div>
    </div>

</section>
</div>

{% endblock content %}