{% extends "server/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "server/styles/home.css" %}" />
{% endblock style %}


{% block content %}

<section class="main-content">
    <div class="intro">
        <span id="intro-hello">Hello everybody</span>
        <span id="intro-wellcome">Wellcome to our Remote Desktop Application</span>
    </div>
    <div class="choose-role">
        <span id="lable-role">Choose the role which you want:</span>
        <div class="btn">
            <button onclick="location.href='{% url 'loadServer' %}'">server</button>
            <button onclick="location.href='{% url "loadClient" %}'">client</button>
        </div>
    </div>
</section>

{% endblock content %}